---
apiVersion: v1
kind: Namespace
metadata:
  annotations:
    scheduler.alpha.kubernetes.io/node-selector: "dash.ulagbulag.io/shared.user={{ metadata.node_label }}"
  labels:
    dash.ulagbulag.io/name: "{{ metadata.prefix }}-{{ team.name }}"
    dash.ulagbulag.io/shared.user: "{{ metadata.node_label }}"
  name: "{{ metadata.prefix }}-{{ team.name }}"
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: "{{ metadata.prefix }}-{{ team.name }}"
  namespace: "{{ metadata.prefix }}-{{ team.name }}"
  labels:
    dash.ulagbulag.io/name: "{{ metadata.prefix }}-{{ team.name }}"
    dash.ulagbulag.io/shared.user: "{{ metadata.node_label }}"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: admin
  namespace: "{{ metadata.prefix }}-{{ team.name }}"
  labels:
    dash.ulagbulag.io/name: admin
    dash.ulagbulag.io/shared.user: "{{ metadata.node_label }}"
rules:
  - apiGroups:
      - ""
      - apps
      - batch
    resources:
      - configmaps
      - cronjobs
      - deployments
      - jobs
      - persistentvolumeclaims
      - pods
      - secrets
      - services
    verbs:
      - '*'
  - apiGroups:
      - ""
      - apps
      - networking.k8s.io
    resources:
      - ingresses
      - limitranges
      - replicasets
      - resourcequotas
    verbs:
      - describe
      - get
      - list
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: "{{ metadata.prefix }}-{{ team.name }}"
  namespace: "{{ metadata.prefix }}-{{ team.name }}"
  labels:
    dash.ulagbulag.io/name: "{{ metadata.prefix }}-{{ team.name }}"
    dash.ulagbulag.io/role: admin
    dash.ulagbulag.io/shared.user: "{{ metadata.node_label }}"
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: admin
subjects:
  - apiGroup: rbac.authorization.k8s.io
    kind: User
    name: "{{ metadata.prefix }}-{{ team.name }}"
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: gateway
  namespace: "{{ metadata.prefix }}-{{ team.name }}"
  annotations:
    cert-manager.io/cluster-issuer: "{{ metadata.domainName }}" # TODO(user): change to your domain
    kubernetes.io/ingress.class: "{{ metadata.domainName }}" # TODO(user): change to your domain
    nginx.ingress.kubernetes.io/proxy-body-size: 200M
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
  labels:
    dash.ulagbulag.io/name: gateway
    dash.ulagbulag.io/shared.user: "{{ metadata.node_label }}"
spec:
  tls:
    - hosts:
        - "{{ metadata.prefix }}-{{ team.name }}.dev.{{ metadata.domainName }}" # TODO(user): change to your domain
      secretName: "{{ metadata.prefix }}-{{ team.name }}.dev.{{ metadata.domainName }}-certs" # TODO(user): change to your domain
  rules:
    - host: "{{ metadata.prefix }}-{{ team.name }}.dev.{{ metadata.domainName }}" # TODO(user): change to your domain
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: frontend
                port:
                  name: http
          - path: /api/v1
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  name: http
